
<button pButton type="button" label="<- Home" (click)="navigateToHome()" class="custom-button"></button>
 <div class="p-grid">
    <!-- Book Details Section -->
    <div class="p-col-12 p-md-6">
        <div class="p-grid book-details">
            <h2>{{ book.title }}</h2>
            <div class="p-grid content">
                <div class="p-col-12 p-md-4 book-image">
                    <img [src]="book.imageLink" alt="{{ book.title }}">
                </div>
                <div class="p-col-12 p-md-8 book-info">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <p><strong>Author:</strong> {{ book.author }}</p>
                        </div>
                        <div class="p-col-12">
                            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                        </div>
                        <div class="p-col-12">
                            <p><strong>Category:</strong> {{ book.category }}</p>
                        </div>
                        <div class="p-col-12">
                            <p><strong>Price:</strong> {{ book.price }}</p>
                        </div>
                        <div class="p-col-12 rating">
                            <span *ngFor="let star of getStars(this.rating)"
                                [class]="star === 1 ? 'star-filled' : 'star-empty'">&#9733;</span>
                            <span class="rating-value"></span> ({{ this.totalReviews }} reviews)
                        </div>
                        <div class="p-col-12" *ngIf="isLoggedIn()">
                            <button pButton type="button" label="Add Review" (click)="openDialog()"></button>
                        </div>
                        <div class="login-message" *ngIf="!isLoggedIn()">
                            <p><strong>Please login to add review</strong></p>
                        </div>
                        <div class="p-col-12" *ngIf="!isLoggedIn()">
                            <button pButton type="button" label="Login" (click)="navigateToLogin()"></button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
    
    <!-- Reviews Section -->
    <div class="p-col-12 p-md-6">
        <div class="p-grid review-section">
            <div class="p-col-12">
                <h3 class="review-header">Reviews ({{ this.totalReviews }})</h3>
                
                <!-- <div class="filter-menu">
                    <label for="sortBy">Sort By:</label>
                    <select id="sortBy" [(ngModel)]="selectedSortOption">
                        <option value="ratingHighToLow">Rating: High to Low</option>
                        <option value="ratingLowToHigh">Rating: Low to High</option>
                    </select>
                </div> -->
            <div *ngIf="totalReviews > 0" class="reviews-container">
                <div *ngFor="let review of paginateReviews()" class="review-item">
                    <div class="review">
                        <div class="reviewer-info">
                            <img src="assets/images/reviewer_logo.jpeg" alt="Reviewer Image" class="reviewer-image">
                            <p class="reviewer-name">{{ review.reviewerName }}</p>
                        </div>
                        <p class="review-content"><strong>Comment:</strong> {{ review.reviewContent }}</p>
                        <p class="review-rating"><strong>Rating:</strong> {{ review.rating }}</p>
                    </div>
                    <hr class="review-separator">
                </div>
            </div>
            <div *ngIf="totalReviews === 0">
                <p>No reviews available for this book.</p>
            </div>
            <div class="pagination">
                <p-button (click)="prevPage()" label="Previous" [disabled]="currentPage === 1"></p-button>
                <span>Page {{ currentPage }} of {{ calculateCeil() }}</span>
                <p-button (click)="nextPage()" label="Next" [disabled]="currentPage === calculateCeil()"></p-button>
            </div>
        </div>
    </div>
 


